{{> header }}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper pt-2">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid bg-white ">
      <div class="row mb-2">
        <div class="col-6 offset-3">
          {{#each product}}
          {{#if this.name}}
          <form action="/admin/products/{{this._id}}/update" method="post" >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{this.name}}">
            </div>
            <div class="form-group mb-3">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" rows="3" >{{this.description}}</textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" id="price" name="price" value="{{this.price}}">
            </div>
        
            <div class="mb-3">
              <select class="custom-select" name="category_id">
                {{!-- {{#each categories}}

                <option value="{{id}}">{{name}}</option>

                {{/each}} --}}
                <option value="5fb1f5584555c7062965fc6a">Cold Brew</option>
                <option value="5fb1f51e4555c7062965fc5c">Coffee</option>
                {{!-- <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option> --}}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content-wrapper -->

{{> footer}}

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#blah").attr("src", e.target.result);
        $("#image").css("background-image", "url(" + e.target.result + ")");
      };

      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }

  $("#inputGroupFile01").change(function () {
    readURL(this);
  });

</script>